body[data-mode='light'] {
  --theme-color: #ffb347;
  --theme-color-light-1: #ffd191;
  --theme-color-light-2: #ffc26c;
  --theme-color-light-3: #ffca7e;
  --theme-color-transparent-1: rgba(255,179,71,0.6);
  --theme-color-dark-1: #ffa626;
  --background-color: #fff;
  --background-color-transparent-1: rgba(255,255,255,0.85);
  --background-color-transparent-2: rgba(255,255,255,0.7);
  --background-color-transparent-3: rgba(255,255,255,0.4);
  --background-color-grey: #e8e8e8;
  --background-color-grey-light-1: #f1f1f1;
  --background-color-grey-light-2: #f5f5f5;
  --background-color-grey-transparent: rgba(232,232,232,0.25);
  --background-color-body: #f8f8f8;
  --background-color-page: rgba(255,255,255,0.85);
  --font-color: #373737;
  --font-color-invert: #fff;
  --font-color-navbar: #4b4b4b;
  --font-color-light-1: #737373;
  --font-color-light-2: #9b9b9b;
  --font-color-light-3: #cdcdcd;
  --link-hover-font-color: #fff;
  --banner-background: url("https://f.whhhh.eu.org/df36d6d7d05259df1ce425fa503a291d.png");
  --banner-font-color: #fff;
  --nav-background-color: rgba(255,255,255,0.188);
  --card-border-color: #d7d7d7;
  --meow-box-shadow: 1px 1px 1px 1px rgba(42,42,42,0.051);
  --meow-card-shadow: 0px 3px 8px 6px rgba(42,42,42,0.051);
}
body[data-mode='dark'] {
  --theme-color: #88c0ed;
  --theme-color-light-1: #b8d9f4;
  --theme-color-light-2: #a0cdf1;
  --theme-color-light-3: #acd3f2;
  --theme-color-transparent-1: rgba(136,192,237,0.6);
  --theme-color-dark-1: #68afe8;
  --background-color: #2d2d2d;
  --background-color-transparent-1: rgba(45,45,45,0.88);
  --background-color-transparent-2: rgba(45,45,45,0.7);
  --background-color-transparent-3: rgba(45,45,45,0.4);
  --background-color-grey: #454545;
  --background-color-grey-light-1: #3e3e3e;
  --background-color-grey-light-2: #373737;
  --background-color-grey-transparent: rgba(69,69,69,0.25);
  --background-color-body: #202124;
  --background-color-page: rgba(45,45,45,0.7);
  --font-color: #bebec6;
  --font-color-invert: #fcfcfc;
  --font-color-navbar: #bebec6;
  --font-color-light-1: #9595a2;
  --font-color-light-2: #808090;
  --font-color-light-3: #5b5b67;
  --link-hover-font-color: #2d2d2d;
  --banner-background: url("https://f.whhhh.eu.org/df36d6d7d05259df1ce425fa503a291d.png");
  --banner-font-color: #e0e0e0;
  --nav-background-color: transparent;
  --card-border-color: #3b3b3b;
  --meow-box-shadow: 1px 1px 1px 1px rgba(187,187,187,0.012);
  --meow-card-shadow: none;
}
body[data-cvv-domain='true'] {
  --banner-background: url("https://t.alcy.cc/ycy/") !important;
}
